<template name="campaignSelect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h3>Select a Campaign</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        {{#each allCampaigns}}
                        <tr>
                            <td>{{name}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <a href="{{pathFor 'campaign.new'}}">New Campaign</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>
